/*
 * Table styles
 */
.zalert {
  font-size: 12px;
  /*
   * Header and footer styles
   */
  /*
   * Body styles
   */
}


.tab_zalert {
  margin-left:auto;
margin-right:auto;
width:90%;
  /*
   * Header and footer styles
   */
  /*
   * Body styles
   */
}